<div class="navbar-fixed-bottom tab-div bottom-navbar hidden-sm hidden-lg hidden-xl">
  <div class="padding">
    <div class="col-xs-2">
      <center>
        <a href="/" class="as-is"><i class="fa fa-lg fa-home"></i></a>
      </center>
    </div>
    <div class="col-xs-2">
      <center>
        <a href="/users/" class="as-is"><i class="fa fa-lg fa-search"></i></a>
      </center>
    </div>
    <div class="col-xs-2">
      <center>
        <a href="/post/upload" class="as-is"><i class="fa fa-lg fa-plus"></i></a>
      </center>
    </div>
    <div class="col-xs-2">
      <center>
        <a href="/notifications" class="as-is">
          <i class="fa fa-lg fa-bell"
            ><sup><i class="badge" id="activity"></i></sup></i
        ></a>
      </center>
    </div>
    <div class="col-xs-2">
      <center>
        <a href="/users/<%= user.usertype %>/@<%= user.username %>" class="as-is"> <i class="fa fa-lg fa-user-alt"></i></a>
      </center>
    </div>
  </div>
</div>
