<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png" />
    <link rel="icon" href="images/logo/logo.png" />
    <title>Increasing Inclusion</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link href="css/landing.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h2><a href="#">Increasing Inclusion!</a></h2>
    <nav>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </nav>
  </header>

  <section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
      <h1>Increasing Inclusion</h1>
      <h3>Looking for candidates that rightly match your job requirements? Let AI handle it for you.
        Our users spend around 50% less time screening candidates. Instant and automated. The no-review pre-screen.
    </h3>

    <a href="/account/google/" class="btn">Candidate Login</a>
    
    <a href="/account/company/login/" class="btn">Organization Login</a> 

    </div>
  </section>

  <section class="destinations">
    <h3 class="title" id="about">ABOUT US</h3>
    <p>We are a recruitment agency which provides a unique solution to the manual recruitment process. We can help you through the interview system. Our goal is to bring an objective and diverse approach to a previously subjective recruitment process. We recognize the need for organizations to make data-backed hiring decisions and limit biases in their recruiting processes.</p>
    <hr>

    <ul class="grid">
      <li class="small image-1"></li>
      <li class="large image-2"></li>
      <li class="large image-3"></li>
      <li class="small image-4"></li>
    </ul>
  </section>

  <section class="packages">
    <h3 class="title" id="services">WHAT WE OFFER</h3>
    <p>Looking for candidates that rightly match your job requirements? Let AI handle it for you.
        Our users spend around 50% less time screening candidates. Instant and automated. The no-review pre-screen.</p>
    <hr>

    <ul class="grid">
      <li>
        <i class="fa fa-thumbs-up fa-4x"></i>
        <h4>Reduces bias in judgments</h4>
        <p>Our methodology perpetuates as little inequity as possible. Every candidate is given a fair chance.</p>
      </li>
      <li>
        <i class="fa fa-line-chart fa-4x"></i>
        <h4>Fast and relevant</h4>
        <p>
          Our platform lets you filter developers by basic technical skills that developers use everyday. 
              This is way faster than a phone pre-screen, more relevant than a resume stuffed full of buzzwords.
        </p>
      </li>
      <li>
        <i class="fa fa-clock-o fa-4x"></i>
        <h4>Saves Precious Time</h4>
        <p>Does your team spend too much time screening candidates? 
          Let it get back to doing what they do best - building the product - and let automation do the tedious work for you.</p>
      </li>
      <li>
        <i class="fa fa-users fa-4x"></i>
        <h4>Helps find the right candidate</h4>
        <p>
          Our candidate selection process incorporates a combination of both skills and personality to score a candidate. 
          Thus, it paves a way for fully automated, hassle-free hiring.
        </p>
      </li>
    </ul>
  </section>

  <section class="testimonials">
    <h3 class="title">Testimonials</h3>
    <hr>
    <p class="quote">“Totally enjoyed and learned a lot in a comfortable environment. The style and the knowledge of the presenter, was totally amazing. 
      The techniques personally helped me to get over some of my shyness and even stage fear. I am happy to try and introduce it to others. 
      The workshop was an experience in itself, unlike any other acting workshop (which I have had regularly). It is easy and enjoyable and deeply powerful. Glad to know this teaching. Thanks a lot!” </p>
    <p class="author">- Albert Herter <em>(attended the 'How to make an Impactful Performance' workshop)</em></p>
    <p class="quote">"Wow, this really blew my mind. Love all the resources and found it easy to follow. Loved it. Look forward to the next one.”</p>
    <p class="author">- Sharon Rosenberg <em>(attended the 'Introduction to Guitar' session)</em></p>
  </section>

  <section class="contact" id="contact">
    <h3 class="title">Stay In Touch</h3>
    <p>Want to know about our upcoming events, internships or job openings? Just sign up for our mailing list. No spam from us, we promise!</p>
    <hr>
    <form>
      <input type="email" placeholder="Email">
      <a href="#" class="btn">Subscribe now</a>
    </form>
  </section>

  <footer>
    <p><span>&#169; </span><a href="#">Increasing Inclusion</a></p>
    <p>Made with &hearts; by <a href="https://www.vidhimody.me/">Vidhi Mody</a> and <a href="https://www.sohamp.dev">Soham Parekh</a></p>
    <ul>
      <li><a href="https://twitter.com/vidhi_mody"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="https://www.facebook.com/soham.parekh.14"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="https://www.linkedin.com/in/soham-parekh"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    </ul>
  </footer>
  </body>
</html>
